.example
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #55BA83
  .title
    font-weight bold

.remark
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #FFF7D0
  .title
    font-weight bold

.caveat
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #FBE5E6
  .title
    font-weight bold

    

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right